<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CRUDy Book Adder</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
  <body class="container">
    <h1>
      CRUDy Book Adder
    </h1>
    <form action="/api/book" method="POST">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" 
               name="title" 
               class="form-control" 
               placeholder="Enter book title here"
               required/>
      </div>
      
      <div class="form-group">
        <label for="author">Author:</label>
        <input name="author" 
               type="text" 
               class="form-control" 
               placeholder="Enter book author here"/
               required>
      </div>
      
      <br/>
      <button type="submit" class="btn btn-primary">Add Book</button>
    </form>
    <!-- include the Glitch button to show what the webpage is about and
to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
